#menu {
  display: grid;
  background: var(--bg-darker);
  align-content: start;
  padding: 20px;
  grid-template-areas: "logo" "home" "cv";
}
#logo-spotify {
  filter: var(--filter-white);
  width: 60%;
  margin-bottom: 30px;
  margin-top: 20px;
}

.logo_menu:hover {
  filter: var(--filter-white);
}

.menu-items {
  font-size: 20px;
  color: var(--unselected);
  cursor: pointer;
  display: flex;
  height: 50px;
}

.menu-items:hover {
  color: var(--selected);
}

.logo_menu {
  filter: var(--filter-gray);
  margin-right: 15px;
  height: 50%;
  width: auto;
}

@media screen and (max-width: 500px) {
  #menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: unset;
    margin: unset;
    grid-template-areas: "home cv";
    justify-content: stretch;
    align-content: stretch;
    place-items: center center;
  }

  .menu-items {
    align-items: center;
  }

  #Home {
    grid-area: home;
  }

  #CV {
    grid-area: cv;
  }

  #logo-spotify {
    display: none;
  }
}
