nav {
  position: fixed;
  left: 0;
  width: 300px;
  height: 100%;
  background: black;
}

.list {
  list-style-type: none;
  background: black;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

#logo {
  filter: var(--filter-white);
  width: 60%;
  margin-bottom: 30px;
  margin-top: 20px;
}

.logo_menu:hover {
  filter: var(--filter-white);
}

.items {
  font-size: 20px;
  color: var(--unselected);
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  width: 100%;
  height: 50px;
}

.items:hover {
  color: var(--selected);
}

.logo_menu {
  filter: var(--filter-gray);
  margin-right: 15px;
  height: 50%;
  width: auto;
}

@media screen and (max-width: 500px) {
  nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: var(--bg-darker);
  }

  ul {
    padding: unset;
    margin: unset;
  }

  #logo {
    display: none;
  }

  .list {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .logo_menu {
    margin: unset;
  }

  .items {
    margin-top: 2%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 15px;
  }

  .btn {
    display: block;
  }
}
