:root {
  /*  COLORS */
  --green: #1fdf64;
  --background: #181818;
  --bg-darker: #000;
  --white: #fff;

  /* FILTERS */
  --filter-white: brightness(0) invert(1);
  /* if we just do brightness 0.5, black images wont be gray */
  --filter-gray: brightness(0) invert(1) brightness(0.5);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(var(--green)),
      color-stop(33%, var(--background)),
      to(var(--background))
    )
    fixed;
  color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (max-width: 500px) {
  body {
    background: -webkit-gradient(
        linear,
        left top,
        right bottom,
        from(var(--green)),
        color-stop(25%, var(--background)),
        to(var(--background))
      )
      fixed;
  }
}
